{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See https://symfony.com/doc/current/templates.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Symfony Bootstrap By mesinkasironline.web.app{% endblock %}</title>
        <link rel="alternate" type="application/rss+xml" title="{{ 'rss.title'|trans }}" href="{{ path('blog_rss') }}">

        <!--{% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}-->
<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
<link rel="stylesheet" href="{{ asset('css/blog.css') }}"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="{% block body_id %}{% endblock %}">

        {% block header %}
            <header>
 {{ include('nab.html.twig') }}
            </header>
        {% endblock %}

        <div class="container body-container">
            {% block body %}
                <div class="row">
                    <div id="main" class="col-12 col-md-12 p-3 p-md-5">
                        {{ include('default/_flash_messages.html.twig') }}

                        {% block main %}{% endblock %}
                    </div>

<div class="col-12 col-md-2></div>                    <div class="col-12 col-md-8 p-3 text-center">

                        {% block sidebar %}
                            {{ render_esi(controller('Symfony\\Bundle\\FrameworkBundle\\Controller\\TemplateController::templateAction', {
                                'template': 'blog/about.html.twig',
                                'sharedAge': 600,
                                '_locale': app.request.locale
                            })) }}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>

        {% block footer %}
            <footer>
                <div class="container">
                    <div class="row">
                        <div id="footer-copyright" class="col-md-12 text-center">
					
		{{ include('bos.html.twig') }}
</div>
                    </div>
                </div>
            </footer>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        {# it's not mandatory to set the timezone in localizeddate(). This is done to
           avoid errors when the 'intl' PHP extension is not available and the application
           is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
        <!-- Page rendered on {{ 'now'|format_datetime('long', 'long', '', 'UTC') }} -->

		</body>
</html>
